:root {
    --vegasRed: #c60e0e;
    --vegasYellow: #ffef00;
    --vegasDarkBlue: #26337b;
    --vegasLightBlue: #ddf5f5;
    --vegasGreen: #97c93d;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.App {
  text-align: center;
}

img {
    width: 100%;
    height: 300px;
}

.navbar {
    background: lightgray;
}

.customOverlay {
    background: red;
}

.customModal {
    background-color: red;
    width: 35%;
}

.loginForm {

}
