:root {
    --vegasRed: #c60e0e;
    --vegasYellow: #ffef00;
    --vegasDarkBlue: #26337b;
    --vegasLightBlue: #ddf5f5;
    --vegasGreen: #97c93d;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.App {
  text-align: center;
}

img {
    width: 100%;
    height: 300px;
}

.navbar {
    background: lightgray;
}

/* #modal {
    background-color: rgba(0,0,0,0.4);
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: 1;
    display: block;
}

.modal-input {
    background-color: white;
    top: 0;
    left: 0;
    height: 60%;
    width: 60%;
} */
